<div class="flex flex-col md:flex-row justify-between items-center my-4">
  <div
    class="flex items-center space-x-2 justify-center md:justify-end w-full md:w-auto"
  >
    <label for="pageSize" class="text-gray-600 text-sm md:text-base"
      >Rows per page:</label
    >
    <select
      id="pageSize"
      [(ngModel)]="pageSize"
      (change)="handleOnPageChange($event)"
      class="border border-gray-300 rounded-lg p-2 text-gray-800 focus:outline-none focus:border-primary text-sm md:text-base"
    >
      @for (size of [5, 10, 20, 50]; track $index) {
      <option [value]="size">{{ size }}</option>
      }
    </select>
  </div>

  <div class="flex justify-center space-x-2 mb-2 md:mb-0">
    <button
      (click)="onPageChange(currentPage - 1)"
      [disabled]="isPreviousDisabled"
      class="p-2 border rounded-lg bg-gray-200 text-gray-800 focus:outline-none text-sm md:text-base"
    >
      Previous
    </button>

    <div class="flex space-x-2">
      <button
        (click)="onPageChange(1)"
        [ngClass]="{
          'bg-primary text-white': currentPage === 1,
          'bg-gray-200 text-gray-800': currentPage !== 1
        }"
        class="p-2 border rounded-lg focus:outline-none text-sm md:text-base"
      >
        1
      </button>

      @if (currentPage > 3) {
      <span class="text-gray-800">...</span>
      } @for (page of getNearbyPages(currentPage, totalPages); track $index) {
      <ng-container>
        <button
          (click)="onPageChange(page)"
          [ngClass]="{
            'bg-primary text-white': currentPage === page,
            'bg-gray-200 text-gray-800': currentPage !== page
          }"
          class="p-2 border rounded-lg focus:outline-none text-sm md:text-base"
        >
          {{ page }}
        </button>
      </ng-container>
      } @if (currentPage < totalPages - 2) {
      <span class="text-gray-800">...</span>
      } @if (totalPages > 1) {

      <button
        (click)="onPageChange(totalPages)"
        [ngClass]="{
          'bg-primary text-white': currentPage === totalPages,
          'bg-gray-200 text-gray-800': currentPage !== totalPages
        }"
        class="p-2 border rounded-lg focus:outline-none text-sm md:text-base"
      >
        {{ totalPages }}
      </button>
      }
    </div>

    <button
      (click)="onPageChange(currentPage + 1)"
      [disabled]="isNextDisabled"
      class="p-2 border rounded-lg bg-gray-200 text-gray-800 focus:outline-none text-sm md:text-base"
    >
      Next
    </button>
  </div>
</div>
